body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-image: url("https://img.freepik.com/free-vector/night-time-sky-background-with-glittering-stars_1048-19664.jpg?semt=ais_hybrid&w=740&q=80");
}

.container {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sun {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-image: url("https://media.tenor.com/aV7bS_p8FS4AAAAi/teletubbies-baby-sun.gif");
    background-size: cover;
    position: absolute;
}

.ert {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background: url("https://easydrawingguides.com/wp-content/uploads/2018/01/how-to-draw-the-earth-featured-image-1200-1.png") no-repeat;
    background-size: contain;
    position: absolute;
    animation: ertOrbit 20s infinite;
    animation-timing-function: linear;
    animation-delay: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes ertOrbit {
    from {
        transform: rotateY(0) translate(600px) rotateY(0);
        z-index: 1;
    }

    to {
        transform: rotateY(360deg) translate(600px) rotateY(-360deg);
        z-index: -2;
    }
}

.moon {
    width: 75px;
    height: 75px;
    background-image: url("https://cdn.britannica.com/38/166438-050-7597E9C0/Galileo-spacecraft-image-Moon-impact-basin-ray-December-7-1992.jpg");
    background-size: contain;
    border-radius: 100%;
    position: absolute;
    animation: moonOrbit 15s infinite;
    animation-timing-function: linear;
    animation-delay: none;
}

@keyframes moonOrbit {
    from {
        transform: rotateY(0) translate(500px) rotateY(0);
        z-index: 1;
    }

    to {
        transform: rotateY(360deg) translate(500px) rotateY(-360deg);
        z-index: -2;
    }
}

.jup {
    width: 75px;
    height: 75px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e1/Jupiter_%28transparent%29.png");
    background-size: contain;
    border-radius: 100%;
    position: absolute;
    animation: jupOrbit 10s infinite;
    animation-timing-function: linear;
    animation-delay: none;
}

@keyframes jupOrbit {
    from {
        transform: rotateY(0) translate(400px) rotateY(0);
        z-index: 1;
    }

    to {
        transform: rotateY(360deg) translate(400px) rotateY(-360deg);
        z-index: -2;
    }
}

.mars {
    width: 75px;
    height: 75px;
    background-image: url("https://i.pinimg.com/564x/f8/d6/88/f8d688b8b4c45922162154b35763e04c.jpg");
    background-size: contain;
    border-radius: 100%;
    position: absolute;
    animation: marsOrbit 5s infinite;
    animation-timing-function: linear;
    animation-delay: none;
}

@keyframes marsOrbit {
    from {
        transform: rotateY(0) translate(300px) rotateY(0);
        z-index: 1;
    }

    to {
        transform: rotateY(360deg) translate(300px) rotateY(-360deg);
        z-index: -2;
    }
}



